.header-grad {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	@include rems(height, 20);
	@include horizontal-grad($primary, $secondary);
	.landing-flood {
		width: 100%;
		height: 100%;
	}
}
.wedo-overlay {
	position: relative;
	z-index: 10;
	padding: 5%;
	padding-bottom: calc(5% + 50px);
	padding-bottom: calc(5% + 5rem);
}
article {
	&.wedo-article {
		border: 1px solid #ccc;
		@include rems(padding, 8, 8, 13);
		background: #fff;
		@include border-radius(5px);
		position: relative;
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
		@media #{$phone} {
			@include rems(padding, 2, 2, 5);
			//text-align: left;
		}
	}
	.footer-w {
		@include rems(width, 10);
		@include rems(height, 10);
		background: url('images/favicons/apple-touch-icon-120x120.png') center center no-repeat #fff;
		background-size: 50% auto;
		border: 4px solid #fff;
		@include border-radius(50%);
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%,-50%);
		@media #{$phone} {
			@include rems(width, 6);
			@include rems(height, 6);
		}
		&:before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			content: '';
			@include border-radius(50%);
			-webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
					box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
		}
	}
}
.section-trigger {
	display: block;
	color: $primary;
	border-bottom: 1px solid $secondary;
	font-weight: 400;
	@include angle-down;
	text-decoration: none;
  @include rems(max-width, 80);
  margin: 0 auto;
	@include rems(margin-bottom, 2);
	&:before {
		float: right;
		transition: 0.4s all ease;
	}
	&.active {
		&:before {
			transform: rotate(180deg);
		}
	}
}
.section-content {
	@include rems(padding, 2, 0);
	display: none;

  h1, h2, h3, h4, h5, p, ul {
    @include rems(max-width, 80);
    margin-left: auto;
    margin-right: auto;
  }
}

form {
  margin: 0 auto;
  @include rems(max-width, 80);
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > * {
    @include rems(margin-right, 2);
    flex-grow: 1;

    &:last-child {
      flex-shrink: 0;
      margin-right: 0;
    }
  }
}

input[type=email], input[type=text], input[type=tel], input[type=password], input[type=number], textarea {
	width: 100%;
	@include box;
	@include rems(padding, 1);
	-webkit-appearance: none;
	border-radius: 0;
	margin-bottom: 0;
	outline: none;

	// Custom Styles

	background: #fff;
	border: 1px solid #ccc;
	@include border-radius(5px);
	font-family: 'Raleway', sans-serif;
	@include font-size(1.8, 2.6);
	.woocommerce-invalid & {
		border: 1px solid #c0392b;
	}
}
input[type="submit"] {
	text-decoration: none;
	@include hover;
	cursor: pointer;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;

	// Custom Styles

	@include border-radius(5px);
	background: $primary;
	color: #fff;
	@include rems(padding, 1, 2);
	border: none;
	font-family: 'Raleway', sans-serif;
	@include font-size(1.9, 2.6);
}
