h1 {
	&.page-title {
		font-weight: 100;
		text-transform: uppercase;
		@include rems(letter-spacing, 0.5);
		color: $secondary;
		@include font-size(5.6, 6.4);
		@include rems(margin-bottom, 8);
    text-align: center;
		@media #{$phone} {
			@include font-size(2.6, 3);
			font-weight: 400;
			@include rems(margin-bottom, 4);
		}
	}
}

h3 {
  color: $primary;
  @include rems(margin-bottom, 2);
  font-weight: 400;
}

blockquote {
  border-left: 4px solid $primary;
  @include box;
  @include rems(max-width, 80);
  @include rems(padding, 1, 2);
  margin: 0 auto;
  @include rems(margin-bottom, 2);
  font-style: italic;
  color: $primary;
  @include font-size(2, 2.4);
}

a {
  color: $primary;
  text-decoration: none;
  transition: 0.4s all ease;
  display: inline-block;
  border-bottom: 1px solid transparent;
  font-weight: 400;

  &:hover {
    border-bottom: 1px solid $primary;
  }
}

ul {
	.section-content & {
		@include rems(margin, 0, 0, 2, 4);
		&:last-child {
			margin-bottom: 0;
		}
		li {
			background: url('images/bullet@2x.png') top left no-repeat;
			background-size: 5px auto;
			background-size: 0.5rem auto;
			@include rems(padding-left, 1.5);
			@include rems(margin-bottom, 0.5);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
